@tailwind base;
@tailwind components;
@tailwind utilities;


.required::after {
    content: "*";
    color: red;
}

body {
    font-family: "Times", sans-serif;
    font-size: 16px;
}

.bulba-green {
    background-color: #E0F2B6;
    border-color: #31aa31;
}

* {
    background-color: #edf7f7;
}