@tailwind base;
@tailwind components;
@tailwind utilities;


.margin-lefter {
    margin-left: 10px;
}

.required::after {
    content: "*";
    color: red;
}

body {
    font-family: "Times", sans-serif;
    font-size: 16px;
}

.bulba-green {
    background-color: #E0F2B6;
    border-color: #31aa31;
}

.cart-title {
    color: #31aa31;
    font-family: "Papyrus";
}

.navbar {
    background-color: #02022c;
}

.navtitle {
    background-color: #02022c;
    color: white;
    font-size: x-large;
    font-family: Georgia, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#margin-wrangler {
    margin-top: 20px;
}

* {
    background-color: #edf7f7;
}